* {
  margin: 0;
  padding: 0px;
  font-family: "Caveat", cursive;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  /* background-color: greenyellow;
  background-image: url("/assets/hero_banner.jpg");
  background-position: inherit; */
}
.heading {
  background-image: url(/assets/sun.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.hero-banner h1 {
  font-size: 40px;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.fa-solid {
  height: 25px;
  width: 25px;
}
.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  background-color: lightgoldenrodyellow;
  position: fixed;
  width: 100%;
  top: 0;
}

.logo {
  width: 100px;
  border-radius: 30%;
  position: sticky;
  margin-left: 20px;
}

.navbar ul li {
  display: inline;
  padding: 5px;
  cursor: pointer;
  /*  box-shadow: 0 1px 19px 3px rgba(7, 232, 7, 0.2); */
  border-radius: 0.8rem;
}
.navbar ul li a {
  text-decoration: none;
}
.navbar ul li a:hover {
  box-shadow: 0 5px 10px 1px blue;
  border-radius: 0.8rem;
}

.for-mobile {
  display: none;
  border: none;
  background: transparent;
  color: rgb(6, 18, 6);
}
.about {
  background-color: rgb(179, 171, 161);
}
.project-box {
  display: flex;
}
.project-box img {
  width: 400px;
  height: 400px;
  margin: 30px 20px;
}
.project-box p {
  text-align: left;
  margin: 30px 20px;
}
.project-hub {
  background-position: center;
  background-size: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: aqua;
  gap: 3rem;
}

.project-img {
  width: 400px;
  height: 400px;

  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: rgb(179, 171, 161);
}

.project-img img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.skill-set {
  background-color: rgb(179, 171, 161);
}
.skill-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.skill-html {
  width: 300px;
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: blueviolet;
}

.skill-css {
  width: 300px;
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.1);
  background-color: blueviolet;
  padding: 10px;
}

.skill-js {
  width: 300px;
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.1);
  background-color: blueviolet;
  padding: 10px;
}

.color-box {
  width: 15rem;
  height: 2rem;
  background-color: rgb(226, 235, 229);
}
.html {
  width: 70%;
  height: 2rem;
  background-color: rgb(82, 245, 82);
}
.css {
  width: 48%;
  height: 2rem;
  background-color: rgb(82, 245, 82);
}
.js {
  width: 20%;
  height: 2rem;
  background-color: rgb(82, 245, 82);
}

.skill-html img {
  height: 200px;
  width: 200px;
}

.skill-css img {
  height: 200px;
  width: 200px;
}
.contact {
  background-color: rgb(186, 149, 122);
}
.contact h2 {
  text-align: center;
}

.text {
  text-align: center;
  margin: 50px 0;
}
/* .footer {
  background-image: url("/laptop.jpg");
  background-position: center;
  background-size: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
} */

footer > h2 {
  text-align: center;
}
.list {
  width: 400px;
  height: 400px;
  background-color: bisque;
  box-shadow: 5px 10px 18px #888888;
  padding: 2rem;
}
.btn > i {
  background-color: green;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 1rem;
}

/* .top-btn {
  background-color: green;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  float: right;
  margin: 0 5rem 15rem 0;
} */
.social-media {
  margin-left: 3rem;
}

.insta,
.linkden {
  width: 7rem;
  padding: 0.8rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  margin: 2rem;
  background-image: url();
}
.copy-right {
  background-color: black;
  text-align: center;
  color: white;
}

.quote {
  width: 400px;
  height: 400px;
  background-color: bisque;
  box-shadow: 5px 10px 18px #888888;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.to-top {
  margin: 0 2rem 5rem 10px;
  display: flex;
  justify-content: flex-end;
  position: fixed;

  bottom: -50px;
  right: 20px;
  transition: bottom 0.3s;
  z-index: 999;
}

.to-top.active {
  bottom: 20px;
}

.top-btn {
  width: 50px;
  height: 50px;
}

.contact-form {
  width: 400px;
  height: 400px;
  background-color: bisque;
  box-shadow: 5px 10px 18px #888888;
  padding: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.sub {
  background-color: rgba(42, 45, 71, 0.554);
  color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0.5rem;
  margin-top: 1rem;
}

.last-part {
  background-color: #8fc457;
}

/* To-top button  */
.to-top {
  /* display: none; */
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

@media (max-width: 700px) {
  body {
    background-color: lightblue;
  }
  .heading {
    background-repeat: no-repeat;
  }

  nav ul {
    display: none;
  }
  .for-mobile {
    display: block;
  }

  .btn {
    padding: 0.5rem;
  }

  .nav-links.responsive {
    display: block;
    background-color: rgb(124, 129, 100);
    position: absolute;
    left: -700px;
    top: 70px;
    margin-left: 1rem;
  }

  ul.responsive li {
    display: block;
    margin: 1rem;
  }
  .heading,
  .project,
  .skill-set,
  .project-hub,
  .footer {
    display: flex;
    flex-direction: column;
  }
  .project-box {
    flex-direction: column;
    padding: 10px;
  }
  .about-text {
    font-size: 1rem;
    text-align: justify;
    padding: 1rem;
  }

  .container {
    width: 700px;
  }
}

@media (max-width: 400px) {
  body {
    background-color: lightblue;
  }
  .heading {
    background-repeat: no-repeat;
  }
  nav ul {
    display: none;
  }
  .for-mobile {
    display: block;
  }

  .btn {
    padding: 0.5rem;
  }

  .nav-links.responsive {
    display: block;
    background-color: rgb(124, 129, 100);
    position: absolute;
    left: -700px;
    top: 70px;
    margin-left: 1rem;
  }

  ul.responsive li {
    display: block;
    margin: 1rem;
  }

  .heading,
  .project,
  .skill-set,
  .project-hub,
  .footer {
    display: flex;
    flex-direction: column;
  }

  .container {
    width: 400px;
  }
}
